node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.DS_Store
Thumbs.db

npm-debug.*
yarn-error.log

.env
.env.local
.idea/
.vscode/

# Web-Export (wird von GitHub Actions gebaut)
dist/
